@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 4rem
}

main .txt-title {
  font-weight: bold;
  font-size: 3rem;
  text-transform: capitalize;
}

/* FORM */
.form {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date-start,
.date-end {
  width: 100%;
}

.txt-personal,
.txt-experience,
.txt-education,
.txt-skills,
.txt-certificates {
  font-weight: 500;
  text-transform: capitalize;
}

input[type="file"] {
  padding-top: 2.2em !important;
  height: 60px !important;
}

/* DISPLAY INFORMATIION */
.resume-preview {
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  word-wrap: break-word; /* Allows long words to be broken and wrap onto the next line */
  word-break: break-all; /* Breaks words at arbitrary points if necessary */
  white-space: normal; /* Allows text to wrap normally */
  position: relative;
}

.resume-preview p {
  font-size: 14px;
}

.resume-experience,
.resume-education,
.resume-skills,
.resume-certificates {
  border-top: 1px solid #DEE2E6;
  padding-top: 1rem;
}

.resume-picture {
  position: absolute;
  right: 10px;
  top: 10px;
}

.resume-hereby {
  font-size: .9em;
  padding: 2em;
}

.resume-preview h3 {
  font-size: 1.5em;
}

.resume-preview h4 {
  font-size: 1em;
  font-weight: 700;
}

.resume-preview .txt-item {
  font-weight: 600;
}

/* OVERRIDE CSS */
.form-control:focus {
  border-color: #DEE2E6;
  box-shadow: none
}

.nav-tabs .nav-link {
  color: #495057;
  background: #DEE2E6;
  border-radius: 2px;
}

.nav-tabs .nav-link.active {
  color: #495057;
}

textarea {
  height: 100px !important;
}

@media screen and (max-width: 768px) {
  main .col-md-7 {
    padding: 0rem;
  }

  h1.txt-title {
    font-size: 1.5em;
  }
  
}